exportPattern("^[[:alpha:]]+")
import(tcltk)
importFrom("tcltk2","tk2tip")
importFrom("rgl","bg3d", "aspect3d", "par3d", "axes3d", "points3d", "texts3d", "segments3d","rgl.bringtotop")
importFrom("tkrplot","tkrreplot", "tkrplot")
importFrom("cluster", "pam")
importFrom("shapes", "procGPA")
importFrom("dendroextras", "colour_clusters")
importFrom("MASS", "ginv")
importFrom("grDevices", "bmp", "chull", "dev.off", "jpeg", "pdf","png", "postscript")
importFrom("graphics", "abline", "arrows", "barplot", "hist", "legend","lines", "matplot", "par", "plot", "points", "polygon","segments", "text")
importFrom("stats", "cor", "cutree", "dist", "hclust", "kmeans","na.omit", "pnorm", "qnorm", "qqnorm", "qt", "quantile","sd", "var")
importFrom("utils", "write.table")
importFrom("matlib", "powerMethod")

